on: 
  push:
    branches:
      - publish

jobs:
  deploy:
    name: Deploy website to Github Pages with Gatsby
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      SITE_DIR: ./site/
    strategy: 
      matrix:
        node_version: [13.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setting Git credentials
        run: git config --global user.email "woojiahao1234@gmail.com" && git config --global user.name "woojiahao"

      - name: Setup Node.js version ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node_version }}

      - name: Copy chapters to /site/content/
        run: chmod +x copy-chapters.sh && bash copy-chapters.sh

      - name: Installing Gatsby CLI
        working-directory: ${{ env.SITE_DIR }}
        run: ls && npm install -g gatsby-cli

      - name: Deploy the site
        working-directory: ${{ env.SITE_DIR }}
        run: npm run deploy
        env: 
          GH_TOKEN: ${{ env.GH_TOKEN }}
